body{
    text-align: center;
}

.box3{
    background-color: #D9D9D9;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: auto;
    height: auto;
}
.box4{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: auto;
    height: auto;
}
.box21{
    background: #1E1E1E;
    padding: 20px;
    border-radius: 40px;
    margin: 20px auto;
    width: 75%;
    height: auto;
}

.img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 40px;
    margin: 0 auto;
}

.box211{
    width: 90px;
    height: 90px;
    border-radius: 60px;
}


.box31{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.box41{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.img1{
    display: block;
    width: 25%;
    height: 25%;
    padding: 20px;
    margin: 0 auto;
}
.img2{
    display: block;
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: 0 auto;
}

.margin1{
    display: block;
    background-color: white;
    padding: 20px;
    height: fit-content;
    width: auto;
    margin: 0 auto;
}

.margin2{
    display: block;
    background-color: #D9D9D9;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
}

.margin3{
    display: block;
    background-color: #D9D9D9;
    padding: 20px;
    height: fit-content;
    width: auto;
    margin: 0 auto;
}

.margin4{
    display: block;
    background-color: white;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
}

.button{
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}

footer{
    margin: 40px 0 20px 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.border-blue{
    border: 1px dotted blue;
}